# Environment Configuration for Claim Adjudication Agent

# Choose Model Backend: 0 -> ML Dev, 1 -> Vertex AI
GOOGLE_GENAI_USE_VERTEXAI=1

# Vertex AI backend config
GOOGLE_CLOUD_PROJECT=project-id
GOOGLE_CLOUD_LOCATION=us-central1

# Model Configuration
GEMINI_FLASH=gemini-2.5-flash

# GCS Storage Configuration
CLAIM_DOCUMENTS_BUCKET=project-id-bucket-name
CLAIM_DOCUMENTS_BUCKET_FOLDER=health_claim_documents

# AE Deployment bucket
AE_DEPLOYMENT_BUCKET=project-id-bucket-name
