# Agent Academic Research
/python/agents/academic-research/ @gulliantonio

# Auto Insurance Agent
/python/agents/auto-insurance-agent/ @drush1980

# Brand Search Optimization
/python/agents/brand-search-optimization/ @nikhilkul

# CaMeL
/python/agents/camel/ @sammalik-lgtm

# Customer Service
/python/agents/customer-service/ @anifort

# Data Science
/python/agents/data-science/ @mstyer-google

# Financial Advisor
/python/agents/financial-advisor/ @gulliantonio

# FOMC Research
/python/agents/fomc-research/ @mstyer-google

# Gemini Fullstack
/python/agents/gemini-fullstack/ @eliasecchig @lavinigam-gcp

# Image Scoring
/python/agents/image-scoring/ @kishorerj

# LLM Auditor
/python/agents/llm-auditor/ @csferng

# Marketing Agency
/python/agents/marketing-agency/ @gulliantonio

# Personalized Shopping
/python/agents/personalized-shopping/ @yiwen-song

# RAG
/python/agents/RAG/ @cnemri

# Software Bug Assistant
/python/agents/software-bug-assistant/ @jackwotherspoon
/java/agents/software-bug-assistant/ @askmeegs

# Travel Concierge
/python/agents/travel-concierge/ @gkcng

# Time Series Forecasting
/java/agents/time-series-forecasting/ @kweinmeister
