# If using API key: ML Dev backend config.
GOOGLE_API_KEY=YOUR_VALUE_HERE
GOOGLE_GENAI_USE_VERTEXAI=false

# If using Vertex on GCP: Vertex backend config
GOOGLE_CLOUD_PROJECT=YOUR_VALUE_HERE
GOOGLE_CLOUD_LOCATION=global
GOOGLE_GENAI_USE_VERTEXAI=true

AGENT_MODEL_NAME=gemini-2.5-flash
SECTION_MODEL_NAME=gemini-2.5-pro
SUMMARY_MODEL_NAME=gemini-2.5-flash

