# Google Maps MCP API Key
# Get this from Google Cloud Console (Maps Platform)
MAPS_API_KEY="YOUR API KEY"

# To use the Gemini API example, create an api key in Google AI Studio and set her:
GEMINI_API_KEY="YOUR API KEY"